extends layout

block content
  .landing-page.d-flex.flex-column.justify-content-center.align-items-center.text-center
    .logo-big.mb-4
      span.play-icon ▶
      span.videoword Videx

    a.btn.join-btn(href="/listing") JOIN